<div class="row" id="rtcardcost">
	<div class="col-lg-12">
		<h1 class="page-header">实时卡费用统计</h1>
		<button class="btn btn-primary" data-toggle="modal" data-target="#optDiv" @click="getrtcardcost()">所有卡实时统计</button>

		<!--<div v-show="type!=1" :class="{alert:true,'alert-success':type==2,'alert-danger':type==3}">
			{{type==2?"操作成功":"操作失败，请联系管理员"}}</div>
	</div>-->

	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">详细信息</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

					<div class="row">
						<div class="col-sm-12">
							<div id="dataTables-example_filter" class="dataTables_filter">
								<label>姓名: <input type="text"
									v-model.trim.lazy="params.name"
									class="form-control input-sm"
									aria-controls="dataTables-example">
								<button type="button" class="btn btn-info" @click="queryPage(1)">查询</button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
								<thead>
									<tr role="row">
										<th>卡Id</th>
										<th>卡号</th>
										<th>卡类型</th>
										<th>姓名</th>
										<th>身份证号</th>
										<th>性别</th>
										<th>联系电话</th>
										<th>卡状态</th>
										<th>详情</th>
										<th>统计</th>
										<th>费用流水</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="card in cardPage.list" role="row">
										<td class="sorting_1">{{card.cardId}}</td>
										<td>{{card.cardCode}}</td>
										<td v-if="card.cardType==1">社保卡</td>
										<td v-else-if="card.cardType==2">普通租车卡</td>
										<td v-else-if="card.cardType==3">临时租车卡</td>
										<td v-else-if="card.cardType==4">员工卡</td>
										<td v-else-if="card.cardType==5">维修调度卡</td>
										<td>{{card.name}}</td>
										<td>{{card.idcard}}</td>
										<td>{{card.sex}}</td>
										<td>{{card.telphone}}</td>
										<td v-if="card.status==0">正常</td>
										<td v-else-if="card.status==1">已注销</td>
										<td v-else-if="card.status==2">已挂失</td>
										<td>
											<button title="查看详情" type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#detail" @click="openDetail(card.cardId)">
												<i class="fa fa-list"></i>
											</button>
										</td>
										<td>
											<button title="统计" type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#statisticsDiv" @click="getsStatistics(card.cardId)">
												<i class="fa fa-list"></i>
											</button>
										</td>
										<td>
											<button title="费用流水" type="button" class="btn btn-info btn-circle" data-toggle="modal" data-target="#cardRecordDiv" @click="getcardRecordBycardId(1,card.cardId)">
												<i class="fa fa-list"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
								当前第{{cardPage.pageNum}}页，共{{cardPage.pages}}页</div>
						</div>
						<div class="col-sm-6">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
								<ul class="pagination">
									<li :class="{paginate_button:true, previous:true, disabled:cardPage.isFirstPage}" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
										<a href="javascript:void(0)" @click="queryPage(cardPage.pageNum-1)">上一页</a>
									</li>

									<li v-for="item in cardPage.navigatepageNums" :class="{paginate_button:true, active:item==cardPage.pageNum}" aria-controls="dataTables-example" tabindex="0">
										<a href="javascript:void(0)" @click="queryPage(item)">{{item}}</a>
									</li>

									<li :class="{paginate_button:true, next:true, disabled:cardPage.isLastPage}" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
										<a href="javascript:void(0)" @click="queryPage(cardPage.pageNum+1)">下一页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1000px; margin-left: -185px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">查看卡详情</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">卡号为{{order.cardId}}的信息</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>手机</th>
													<td>{{order.mobile}}</td>
													<th>邮箱</th>
													<td>{{order.email}}</td>
													<th>住址</th>
													<td>{{order.address}}</td>
													<th>工作单位</th>
													<td>{{order.work}}</td>
													<th>注销标志</th>
													<td>{{order.zxbj}}</td>
													<th>月票金额</th>
													<td>{{order.monthlyMoney}}</td>
													<th>冻结金额</th>
													<td>{{order.frozenMoney}}</td>
													<th>钱包余额</th>
													<td>{{order.walletMoney}}</td>
												</tr>
											</thead>

										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						
									<!-- /.table-responsive -->
								</div>
								<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.col-lg-12 -->
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content -->
		<!-- /.modal-dialog -->
	
	<div class="modal fade" id="statisticsDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1000px; margin-left: -185px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">该卡的统计</h4>
				</div>
				<div class="modal-body">

					<div class="panel panel-default">
						<div class="panel-heading">统计信息</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<!-- /.panel-body -->
							<div class="row">
								<!-- /.row -->
								<form>
								<div class="col-lg-6">
									<div class="form-group">
										<label>总充值金额</label> 
										<input class="form-control" v-model="cardStatistics.totalRechargeAmount" readonly="readonly"> 
										<br />
									</div>
									<div class="form-group">
										<label>总充值次数</label> 
										<input class="form-control" v-model="cardStatistics.totalRechargeTimes" readonly="readonly"> 
										<br />
									</div>
									<div class="form-group">
										<label>总消费金额</label>
										<input class="form-control" v-model="cardStatistics.totalConsumption" readonly="readonly">
										<br />
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>总租车次数</label> 
										<input class="form-control" v-model="cardStatistics.totalRentalTimes" readonly="readonly">
										<br />
									</div>
								</div>
								</form>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<div class="modal fade" id="cardRecordDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1000px; margin-left: -185px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">费用流水</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-sm-12">
							<table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
								<thead>
									<tr role="row">
										<th>费用类型</th>
										<th>月票变化金额</th>
										<th>钱包变化金额</th>
										<th>冻结变化金额</th>
										<th>发生时间</th>
										<th>创建人</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="cr in cardRecordPage.list" role="row">
										<td v-if="cr.feeType==1">充值</td>
										<td v-else-if="cr.feeType==2">租车</td>
										<td v-else-if="cr.feeType==3">消费</td>
										<td v-else-if="cr.feeType==4">提款</td>
										<td v-else-if="cr.feeType==5">钱包转冻结</td>
										<td class="sorting_1">{{cr.chgMonthlyMoney}}</td>
										<td>{{cr.chgWalletMoney}}</td>
										<td>{{cr.chgFrozenMoney}}</td>
										<td>{{cr.createTime}}</td>
										<td>{{cr.userId}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
							<div class="row">
						<div class="col-sm-6">
							<div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
								当前第{{cardRecordPage.pageNum}}页，共{{cardRecordPage.pages}}页</div>
						</div>
						<div class="col-sm-6">
							<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
								<ul class="pagination">
									<li :class="{paginate_button:true, previous:true, disabled:cardRecordPage.isFirstPage}" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
										<a href="javascript:void(0)" @click="queryRecordPage(cardRecordPage.pageNum-1,0)">上一页</a>
									</li>

									<li v-for="item in cardRecordPage.navigatepageNums" :class="{paginate_button:true, active:item==cardRecordPage.pageNum}" aria-controls="dataTables-example" tabindex="0">
										<a href="javascript:void(0)" @click="queryRecordPage(item,0)">{{item}}</a>
									</li>

									<li :class="{paginate_button:true, next:true, disabled:cardRecordPage.isLastPage}" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
										<a href="javascript:void(0)" @click="queryRecordPage(cardRecordPage.pageNum+1,0)">下一页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>	<!-- /.panel-body -->
							</div>
							<!-- /.panel -->
						</div>
						<!-- /.col-lg-12 -->
					</div>

				</div>


	<div class="modal fade" id="optDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 1000px; margin-left: -185px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">卡费用统计</h4>
				</div>
				<div class="modal-body">

					<div class="panel panel-default">
						<div class="panel-heading">实时统计</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<!-- /.panel-body -->
							<div class="row">
								<!-- /.row -->
								<form>
								<div class="col-lg-6">
									<div class="form-group">
										<label>租车卡总张数</label> 
										<input class="form-control" v-model="cardCost.totalNumberCarRentalCards" readonly="readonly"> 
										<br />
									</div>
									<div class="form-group">
										<label>有租车记录的卡张数</label> 
										<input class="form-control" v-model="cardCost.CardsWithRentalRecordsNumber" readonly="readonly"> 
										<br />
									</div>
									<div class="form-group">
										<label>总充值金额</label>
										<input class="form-control" v-model="cardCost.totalRechargeAmount" readonly="readonly">
										<br />
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
										<label>总消费金额</label>
										<input class="form-control" v-model="cardCost.totalConsumption" readonly="readonly">
										<br />
									</div>
									<div class="form-group">
										<label>现冻结金额</label> 
										<input class="form-control" v-model="cardCost.amountNowFrozen" readonly="readonly"> 
									</div>
									<div class="form-group">
										<label>现可用余额</label> 
										<input class="form-control" v-model="cardCost.availableBalance" readonly="readonly">
										<br />
									</div>
									
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>总租车次数</label> 
										<input class="form-control" v-model="cardCost.totalRentalTimes" readonly="readonly">
									</div>
								</div>
								</form>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

</div>
<!-- 相对路径 相对于/main/index.html -->
<script type="text/javascript" src="../../js/rtcardcost.js"></script>